.filter-con {
    width: 100%;
    padding: 10px;
    /* background-color: #f5f5f5; */
    display: flex;
    justify-content: space-between;
}

.btn-el{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    outline: none;
}

.active-btn{
    background-color: blueviolet;
    border: 0px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}